<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Homepage</title>
        <link rel='stylesheet' href='/index.css'>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&family=Noto+Serif+Display:ital,wght@1,300&family=Source+Serif+Pro:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    </head>

    <body id='body'>
        <div id='header'>
            <a href='/home'>Homepage</a>
            <a id='testing' href='/restaurants'>Browse Restaurants</a>
            <a href='/addrestaurant'>Add Restaurant</a>
        </div>
        <div id='welcome'>
            <h1>Welcome to your restaurant manager!</h1>
        </div>

        <script src='client.js'></script>
    </body>
</html>